.aos-hero {
  opacity: 0;
  transform: translateY(40px);
}

.hero-carousel:after {
  content: "";
  clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
  height: 78px;
  width: calc(100% - 300px);
  display: block;
  background: var(--white);
  position: absolute;
  bottom: -2px;
  right: 0;
}

.hero-carousel .hero-carousel-item {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
  padding-top: 200px;
  position: relative;
}

.hero-carousel .hero-carousel-item:before {
  content: "";
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 62.11%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero-carousel .hero-carousel-item .hero-carousel-item-content {
  display: block;
  width: 100%;
  max-width: 560px;
  position: relative;
}

.hero-carousel .hero-carousel-item .hero-carousel-item-content p {
  color: var(--white);
  font-size: 24px;
  font-weight: 300;
  margin-top: 10px;
}

.hero-glass-card {
  width: 100%;
  color: #fff;
  position: absolute;
  right: 34%;
  background-image: url("../img/card-bg.svg");
  background-size: 253px 183px;
  background-repeat: no-repeat;
  max-width: 255px;
  background-position: left;
  padding-top: 17px;
  height: 180px;
  border-radius: 16px;
  overflow: hidden;
  top: 50%;
}

.hero-glass-card-content {
  padding: 20px;
  height: calc(100% - 3px);

  width: calc(100% - 6px);
  margin-top: 1px;
  border-radius: 15px 0px 15px 15px;
  overflow: hidden;
  margin-left: 2px;
  margin-right: 2px;
  -webkit-backdrop-filter: blur(13.6px);
  backdrop-filter: blur(13.6px);
}

.hero-glass-card-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  padding-right: 15px;
  margin-bottom: 0;
}

.hero-glass-icon {
  position: absolute;
  top: 16px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ff7a00;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.hero-glass-icon img {
  transform: scale(1.2);
}
.hero-carousel .hero-carousel-item .custom-btn:hover, .hero-carousel .hero-carousel-item .custom-btn:hover:before {
    background: transparent;
}

.hero-carousel .hero-carousel-item .custom-btn:hover > span {
    color: var(--white);
}

.hero-carousel .slick-dots {
  position: absolute;
  bottom: 100px;
}

.hero-carousel {
  position: relative;
  margin-bottom: 0 !important;
}

.hero-carousel .slick-dots > li > button:before {
  color: transparent;
}

.hero-carousel .slick-dots > li > button {
  background: #ffffff4d;
  height: 3px;
  padding: 0px;
  width: 100%;
  border-radius: 50px;
}

.hero-carousel .slick-dots li.slick-active > button {
  background: #fff;
  height: 3px;
  padding: 0px;
  width: 100%;
  border-radius: 50px;
}

.hero-carousel .slick-dots li.slick-active {
  width: 43px;
}

.hero-carousel .slick-dots li {
  width: 20px;
  height: 3px;
}

/* about us */
.about--us {
  position: relative;
}

.about--us .sticky--img {
  position: absolute;
  top: -40px;
  right: 0;
  width: 100%;
  max-width: 198px;
}

.about--us .sticky--img > img {
  width: 100%;
}

.about-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.about-img-area {
  padding-left: 100px;
  position: relative;
}

.about-img-list img {
  width: 100%;
}

.about-img-list div:nth-child(1) {
  width: 100%;
}

.about-img-list div:nth-child(2) {
  width: calc(40% - 5px);
  max-width: 200px;
}

.about-img-list div:nth-child(3) {
  width: calc(60% - 5px);
}

.clip--img {
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0 100%, 0 22%);
}

.about-img-list div:nth-child(3) > .clip--img {
  clip-path: none;
}

.about-img-list div:nth-child(1) > .clip--img {
  max-width: 200px;
  height: 200px;
  margin-left: 100px;
}

.about-img-list div:nth-child(1) > .clip--img img,
.about-img-list div:nth-child(2) > .clip--img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-img-list div:nth-child(2) > .clip--img {
  height: 200px;
}

.about-img-list div:nth-child(3) > .clip--img > img {
  height: 316px;
  object-fit: cover;
  object-position: center;
}

.outline--comman {
  width: 100%;
  position: absolute;
  left: 55%;
  top: 50%;
  background: var(--primary);
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0 100%, 0 22%);
  max-width: 370px;
  height: 370px;
  transform: translate(-53%, -50%);
}

.outline--comman:before {
  content: "";
  position: absolute;
  inset: -3px;
  /* outline thickness */
  background: #fff;
  /* outline color */
  z-index: -1;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0 100%, 0 22%);
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* end about us */

/* discover */
.discover-carousel .discover-carousel-item .discover-thum > img {
  width: 100%;
  height: 330px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.discover-carousel .discover-carousel-item:hover .discover-thum > img {
    transform: scale(1.05);
}

.discover-carousel .discover-carousel-item .discover-thum {
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 82% 100%, 0% 100%);
}

.discover-carousel .discover-carousel-item {
  padding: 5px;
}

.discover-carousel .discover-carousel-item > a {
    color: var(--black);
    text-decoration: none;
}

.discover-carousel .discover-carousel-item .discover-content {
  padding-top: 15px;
}

.discover-carousel .discover-carousel-item .discover-content > h3 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 2px;
}

.discover-carousel .discover-carousel-item .discover-content > p {
  font-size: 14px;
}

.discover-carousel .slick-dots li.slick-active {
  background: var(--secondary);
}

.discover-carousel .slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: #eaeaea;
}

.discover-carousel .slick-dots li > button {
  display: none;
}

.discover-carousel .slick-arrow {background-color: #ffffffeb;width: 40px;height: 40px;border-radius: 50px;z-index: 1;border: 1px solid var(--primary);}

.discover-carousel .slick-arrow.slick-prev:before {
    background-image: url("../img/icons/left-arrow.svg");
}

.discover-carousel .slick-arrow:before {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    content: "";
}

.discover-carousel .slick-arrow.slick-next:before {
    background-image: url("../img/icons/right-arrow.svg");
}

.discover-carousel .slick-arrow.slick-prev {
    left: -15px;
}

.discover-carousel .slick-arrow.slick-next {
    right: -15px;
}

/* end discover */

/* product brand */
.product--brands--section {
  background-image: url("../img/contact-new-bg.webp");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 230px;
}

.product--brands--section:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
}

.product--brands--section:after {
  content: "";
  clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
  height: 78px;
  width: calc(100% - 300px);
  display: block;
  background: var(--white);
  position: absolute;
  top: -2px;
  left: 0;
  transform: scaleX(-1) scaleY(-1);
}

.product--brands--section .brand-slider .slick-dots li.slick-active {
  background: var(--white);
}

.product--brands--section .brand-slider .slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.251);
}

.product--brands--section .brand-slider .slick-dots li > button {
  display: none;
}

.product--brands--section .brand-slider .slick-dots {
  position: relative;
  bottom: 0;
  padding-top: 20px;
}

.product--brands--section .product-slider > button.slick-prev:before {
  content: "";
  width: 33px;
  height: 33px;
  backdrop-filter: blur(4px);
  display: block;
  background-color: rgb(0 0 0 / 19%);
  border-radius: 50px;
  background-image: url("../img/icons/arrow-right.svg");
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
  transform: scaleX(-1);
  border: 1px solid var(--white);
}

.product--brands--section .product-slider > button.slick-next:before {
  content: "";
  width: 33px;
  height: 33px;
  backdrop-filter: blur(4px);
  display: block;
  background-color: rgb(0 0 0 / 19%);
  border-radius: 50px;
  background-image: url("../img/icons/arrow-right.svg");
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: center;
  border: 1px solid var(--white);
}

.product--brands--section .product-slider > button.slick-prev,
.product--brands--section .product-slider > button.slick-next {
  transform: translateY(-18px);
}

.product--brands--section .brand-slider {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.product--brands--section .product-slider {
  position: relative;
}

.product--brands--section .product-slider > .slick-list .product-item {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 10px;
  cursor: pointer;
}

.product--brands--section .product-slider > .slick-list .product-item.active {
  background: var(--primary);
}

.product--brands--section .brand-slider .brand-item {
  padding: 5px;
}

.product--brands--section .brand-slider .brand-item > a {
  border: 1px solid #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  background: rgb(255 255 255 / 15%);
  text-decoration: none;
}

.product--brands--section .product-slider > button.slick-prev {
  left: -45px;
}

.product--brands--section .product-slider > button.slick-prev.slick-disabled,
.product--brands--section .product-slider > button.slick-next.slick-disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.product--brands--section .product-slider > button.slick-next {
  right: -45px;
}

/* end product brand */

/* Reaching Markets */
.count--list {
  display: flex;
}

.count--list > .count--item {
  flex: 1;
  border: 2px solid var(--primary);
  padding: 25px 20px;
  text-align: center;
}

.count--list > .count--item > h3 {
  font-weight: 800;
  color: var(--secondary);
  font-size: 36px;
}

.count--list > .count--item > h3 > span {
  color: var(--primary);
  font-weight: 500;
}

.count--list > .count--item > p {
  font-size: 14px;
  color: #000;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  max-width: 105px;
  margin: 0 auto;
}

.count--list > .count--item:nth-child(1),
.count--list > .count--item:nth-child(2) {
  border-right: 0;
}

.count--list > .count--item:nth-child(1) {
  position: relative;
}

.count--list > .count--item:nth-child(1):after,
.count--list > .count--item:nth-child(1):before {
  content: "";
  display: block;
  position: absolute;
  left: -1.5px;
  width: 0;
  height: 0;
  border-style: solid;
  top: -2px;
}

.count--list > .count--item:nth-child(1):after {
  border-color: var(--primary) transparent transparent var(--primary);
  border-width: 26px;
}

.count--list > .count--item:nth-child(1):before {
  border-color: var(--white) transparent transparent var(--white);
  border-width: 25px;
  z-index: 1;
}

.count--list > .count--item:nth-child(3) {
  position: relative;
}

.count--list > .count--item:nth-child(3):after,
.count--list > .count--item:nth-child(3):before {
  content: "";
  display: block;
  position: absolute;
  right: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  bottom: -2px;
}

.count--list > .count--item:nth-child(3):after {
  border-color: transparent var(--primary) var(--primary) transparent;
  border-width: 26px;
}

.count--list > .count--item:nth-child(3):before {
  border-color: transparent var(--white) var(--white) transparent;
  border-width: 25.5px;
  z-index: 1;
}

/* end Reaching Markets */

/* Innovation */

.innovation--video {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 7;
}

.innovation--video:before {
  content: "";
  width: 100%;
  height: calc(100% - 7px);
  background-color: var(--black);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.innovation--video #innovationVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.innovation--video > .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.innovation--video > .play-btn.hidden {
  opacity: 0;
}

.innovation--video > .play-btn > span {
  width: 130px;
  aspect-ratio: 1 / 1;
  background: rgb(255 255 255 / 12%);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.innovation--video > .play-btn > span:before,
.innovation--video > .play-btn > span:after {
  content: "";
}

.innovation--video > .play-btn > span:before {
  width: 160px;
  aspect-ratio: 1 / 1;
  background: rgb(255 255 255 / 12%);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
  animation: pulse 1.5s infinite;
}

.innovation--video > .play-btn > span:after {
  width: 190px;
  aspect-ratio: 1 / 1;
  background: rgb(255 255 255 / 12%);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -2;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  70% {
    transform: scale(1.15);
    opacity: 0;
  }

  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}

.stories-wrapper .story-card video, .stories-wrapper .story-card img {
    filter: grayscale(1);
    transition: 0.3s;
}

.stories-wrapper .slick-center.story-card video, .stories-wrapper .slick-center.story-card img {
    filter: none;
}

.stories-wrapper .story-card img {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.stories-wrapper .story-card .name {
    text-align: center;
}

.stories-wrapper .video-wrap {
    border: 1px solid #ccc;
}

.stories-wrapper .slick-center.story-card .video-wrap {
    border: none;
}

/* end Innovation */

/* stories */

.stories-wrapper {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
}

/* Base story card */
.stories-wrapper .story-card {
  text-align: center;
  padding: 5px;
}

.stories-wrapper .story-card video {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  pointer-events: none;
  /* border-radius: 8px; */
}

.stories-wrapper .story-card .name {
  margin-top: 10px;
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  text-transform: uppercase;
  text-align: left;
}

.stories-wrapper .story-card blockquote {
  display: none;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  margin: 15px auto 5px;
  font-style: italic;
  padding: 0 20px;
}

/* dnid */
.stories-wrapper .video-wrap {
  position: relative;
}

.stories-wrapper .video-wrap video {
  width: 100%;
  display: block;
  aspect-ratio: 16 / 9;
}

/* Hide button when playing */
.stories-wrapper .video-wrap.playing .video-play-btn {
  /* display: none; */
  opacity: 0;
}

/* Disable interaction on non-center slides */
.stories-wrapper .story-card video,
.stories-wrapper .story-card .video-play-btn {
  pointer-events: none;
}

.stories-wrapper .slick-center video,
.stories-wrapper .slick-center .video-play-btn {
  pointer-events: auto;
}

/* dnid */

/* Center card - DOUBLE WIDTH */
.stories-wrapper .slick-center.story-card {
  opacity: 1;
  pointer-events: auto;
}

.stories-wrapper .slick-center.story-card video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.stories-wrapper .slick-center.story-card blockquote {
  display: block;
  padding: 0px;
  padding-top: 15px;
  margin-top: 0;
  text-align: left;
  font-style: normal;
  color: var(--black);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
}

.stories-wrapper .slick-center.story-card .name {
  font-size: 18px;
  margin-top: 0;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0px;
}

.stories-wrapper .slick-center.story-card > .story--item {
  background: #fff2e8;
  border: 1px solid #ffe5d1;
  padding: 10px;
}

/* Arrows */
.stories-wrapper .story-arrow,
.stories-wrapper .story-arrow {
  width: 80px;
  aspect-ratio: 1 / 1;
  background: var(--white) !important;
  border-radius: 50%;
  border: 2px solid var(--primary);
  transition: 0.3s;
}

.stories-wrapper .story-arrow:hover,
.stories-wrapper .story-arrow:hover {
  background: var(--primary) !important;
}

.stories-wrapper .story-arrow:hover img,
.stories-wrapper .story-arrow:hover img {
  filter: brightness(0) invert(1);
}

.stories-wrapper .stories--arrow {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: end;
  padding-right: 100px;
}

.stories-wrapper .slick-slide {
  opacity: 0.5;
}

.stories-wrapper .video-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.stories-wrapper .video-play-btn > span {
  width: 48px;
  aspect-ratio: 1 / 1;
  background: rgb(255 255 255 / 12%);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.stories-wrapper .slick-center.story-card .video-play-btn > span {
  width: 70px;
}

.stories-wrapper .video-play-btn:before,
.stories-wrapper .video-play-btn:after {
  content: "";
}

.stories-wrapper .video-play-btn:before {
  width: 60px;
  aspect-ratio: 1 / 1;
  background: rgb(255 255 255 / 12%);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -1;
}

.stories-wrapper .slick-center.story-card .video-play-btn:before {
  width: 90px;
}

.stories-wrapper .slick-center.story-card .video-play-btn:after {
  width: 105px;
}

.stories-wrapper .video-play-btn:after {
  aspect-ratio: 1 / 1;
  background: rgb(255 255 255 / 12%);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: -2;
  width: 70px;
}

.stories-wrapper .video-play-btn > span > img {
  width: 24px;
}

.stories-wrapper .sticky--img {
  max-width: 125px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.stories-wrapper .sticky--img > img {
  width: 100%;
}

/* .stories-wrapper .slick-track, */
.stories-wrapper .slick-center.story-card,
.stories-wrapper .story-card {
  transition: 0.3s;
}

.news--arrow {
  display: none;
}

/* end stories */

/* Blog */
.blog--section .blog-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 245px);
  gap: 10px;
}

.blog--section .blog-carousel .blog-carousel-item > .blog-thum > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top left;
  transition: 0.3s;
}

.blog--section .blog-carousel .blog-carousel-item:hover .blog-thum > img {
  transform: scale(1.05);
}

.blog--section .blog-carousel .blog-carousel-item:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 90% 100%, 0% 100%);
}

.blog--section .blog-carousel .blog-carousel-item:nth-child(4) {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  clip-path: polygon(0% 0%, 100% 0, 100% 90%, 90% 100%, 0% 100%);
}

.blog--section .blog-carousel .blog-carousel-item {
  position: relative;
  overflow: hidden;
}

.blog--section .blog-carousel .blog-carousel-item .blog-single-page {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.blog--section .blog-carousel .blog-carousel-item > .blog-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
}

.blog--section .blog-carousel .blog-carousel-item > .blog-thum {
  height: 100%;
}

.blog--section .blog-carousel .blog-carousel-item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 3.42%, #000000db 75.1%);
  z-index: 1;
}

.blog--section .blog-carousel .blog-carousel-item > .blog-content > h3 {
  font-size: 20px;
  color: var(--white);
  margin-bottom: 14px;
}

.blog--section
  .blog-carousel
  .blog-carousel-item
  > .blog-content
  > .custom-btn {
  padding: 0px;
  background: transparent;
}

.blog--section .blog-carousel .blog-carousel-item > .blog-content > .custom-btn:before {
    display: none;
}

.blog--section .blog-carousel .blog-carousel-item > .blog-content > .custom-btn:hover span {
    color: var(--white);
}

.blog--section
  .blog-carousel
  .blog-carousel-item
  > .blog-content
  > .custom-btn
  > span {
  font-size: 15px;
  text-decoration: underline;
}

.blog--section
  .blog-carousel
  .blog-carousel-item
  > .blog-content
  > .custom-btn
  > img {
  background: var(--primary);
  width: 30px;
}

/* end Blog */

/* contact us */

.contact--us--section{
    background-image: url("../img/contact-new-bg.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 200px;
}

.contact--us--section:before {
    content: '';
    background: var(--black);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
}

.contact--us--section:after {
    content: '';
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
    height: 78px;
    width: calc(100% - 300px);
    display: block;
    background: var(--white);
    position: absolute;
    bottom: -1px;
    right: 0;
}

.contact--us--section .contact--info > ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding-top: 15px;
}

.contact--us--section .contact--info > ul > li {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact--us--section .contact--info > ul > li > span, .contact--us--section .contact--info > ul > li > a {color: var(--white);text-decoration: none;font-size: 20px;}

.contact--us--section .contact--info > ul > li:nth-child(1) {
    align-items: start;
}

.contact--us--section .about--contact {
    font-size: clamp(18px,2vw,24px);
}

.home--contact {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
}

.home--contact input, .home--contact select, .home--contact textarea {
    color: var(--white);
    backdrop-filter: blur(8.199999809265137px);
    background: #FFFFFF33;
    border: 1px solid var(--white);
    -webkit-backdrop-filter: blur(8.199999809265137px);
    padding: 9px;
    border-radius: 10px;
}
.home--contact select {
    appearance: auto;
    -webkit-appearance: auto;
}
.home--contact label {
    color: var(--white);
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 300;
}

.home--contact > form > .row {
    row-gap: 15px;
}

.home--contact .custom-btn {
    margin-top: 20px;
    box-shadow: none;
    border: none;
}
/* contact us end */

/* News */
.news-marquee .news-track .news--list .news--item .link-single-news {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.news-marquee .news-track .news--list .news--item .news-content .custom-btn{
  z-index: 2;
}
/* News end */

/* media quries */

/* @media (min-width: 1024px) {
  .stories-wrapper .slick-center.story-card {
    width: 550px !important;
  }

  .stories-wrapper .slick-track {
    left: 190px;
  }

  .stories-wrapper .story-card {
    width: 300px !important;
  }
}

@media (min-width: 1536px) {
  .stories-wrapper .slick-center.story-card {
    width: 550px !important;
  }

  .stories-wrapper .slick-track {
    left: 190px;
  }

  .stories-wrapper .story-card {
    width: 300px !important;
  }
}

@media (min-width: 1920px) {
  .stories-wrapper .slick-center.story-card {
    width: 750px !important;
  }

  .stories-wrapper .slick-track {
    left: 240px;
  }

  .stories-wrapper .story-card {
    width: 350px !important;
  }
} */

@media (min-width: 1537px) {
  .news-marquee .news-track .news--list {
    width: 40%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .outline--comman {
    left: 62%;
}
}

@media (min-width: 992px) {
  .news-marquee {
    overflow: hidden;
  }

  .news-marquee .news-track {
    display: flex;
    width: max-content;
  }

  .news-marquee .news-track .news--list {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(2, 230px);
    gap: 8px;
    padding-right: 8px;
  }

  .news-marquee .news-track .news--list .news--item {
    position: relative;
    overflow: hidden;
  }
  .news-marquee .news-track .news--list .news--item:before {
    content: "";
    background: var(--black);
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .news-marquee .news-track .news--list .news--item .news--thum {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .news-marquee .news-track .news--list .news--item:nth-child(1) {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  .news-marquee .news-track .news--list .news-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    width: calc(100% - 30px);
  }

  .news-marquee
    .news-track
    .news--list
    .news--item:not(:nth-child(4))
    > .news-content
    .news--publish {
    display: none;
  }

  .news-marquee
    .news-track
    .news--list
    .news--item
    .news-content
    .news--heading {
    border-left: 3px solid var(--primary);
    padding-left: 15px;
  }

  .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(1)
    .news-content
    .custom-btn,
  .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(2)
    .news-content
    .custom-btn {
    margin-left: 15px;
  }

  .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(3)
    .news-content
    .custom-btn,
  .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(4)
    .news-content
    .custom-btn {
    display: none;
  }

  .news-marquee .news-track .news--list .news--item:nth-child(3) .news-content > .news--heading,
  .news-marquee .news-track .news--list .news--item:nth-child(4) .news-content > .news--heading,
  .news-marquee .news-track .news--list .news--item:nth-child(5) .news-content > .news--heading,
  .news-marquee .news-track .news--list .news--item:nth-child(10) .news-content > .news--heading,
  .news-marquee .news-track .news--list .news--item:nth-child(9) .news-content > .news--heading,
  .news-marquee .news-track .news--list .news--item:nth-child(8) .news-content > .news--heading {
    font-size: 16px;
    /* margin-bottom: 0; */
  }

  .news-marquee
    .news-track
    .news--list
    .news--item
    .news-content
    > .news--heading {
    text-transform: uppercase;
    font-size: clamp(20px, 1vw, 24px);
  }

  /* .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(4)
    .news-content
    > .news--heading {
    text-transform: capitalize;
  } */

  .news-marquee .news-track .news--list .news--item:nth-child(4), .news-marquee .news-track .news--list .news--item:nth-child(9) {
    display: flex;
  }

  .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(4)
    > .news-content, .news-marquee .news-track .news--list .news--item:nth-child(9) > .news-content {
    position: relative;
    bottom: 0;
    left: 0;
    width: 55%;
    background: var(--black);
    padding: 20px;
    /* display: flex;
    flex-direction: column; */
  }

  .news-marquee .news-track .news--list .news--item:nth-child(4) > .news--thum, .news-marquee .news-track .news--list .news--item:nth-child(9) > .news--thum {
    width: 45%;
  }

  .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(4)
    > .news-content
    > .news--heading {
    order: 2;
  }

  /* .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(5)
    > .news-content {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    width: calc(100% - 40px);
  } */

  .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(5)
    > .news-content
    > .custom-btn
    > span {
    display: none;
  }

  .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(5)
    > .news-content
    > .custom-btn {
    padding: 0;
    background: transparent;
  }
  .news-marquee
    .news-track
    .news--list
    .news--item:nth-child(5)
    > .news-content
    > .custom-btn
    > img {
    background: var(--primary);
  }
  .news-marquee .news-track .news--list .news--item:nth-child(4) {
      grid-row: 2 / 2;
      grid-column: 2 / 3;
  }

  .news-marquee .news-track .news--list .news--item:nth-child(5) {
      grid-row: 2 / 2;
      grid-column: 3 / 4;
  }

  .news-marquee .news-track .news--list .news--item:nth-child(6) {
      grid-row: 1 / 3;
      grid-column: 4 / 5;
  }
  .news-marquee .news-track .news--list .news--item:nth-child(11) {
      grid-row: 1 / 3;
      grid-column: 7 / 9;
  }

  .news-marquee .news-track .news--list .news--item:nth-child(9) {
      grid-row: 2 / 2;
      grid-column: 5 / 6;
  }

  .news-marquee .news-track .news--list .news--item:nth-child(10) {
      grid-row: 2 / 2;
      grid-column: 6 / 7;
  }
}

@media (max-width: 1536px) {
  .news-marquee .news-track .news--list {
    width: 32%;
  }
}



@media (max-width: 1200px) {
  .hero-glass-card {
    right: 17%;
  }
  .news-marquee .news-track .news--list {
    width: 25%;
  }
}
@media (max-width: 1199px) {
  .about-img-area {
    padding-left: 0;
}
}

@media (max-width: 1024px) {
  .hero-glass-card {
    right: 5%;
  }

  .stories-wrapper .story-arrow,
  .stories-wrapper .story-arrow {
    width: 32px;
    border: 1px solid var(--primary);
  }

  .stories-wrapper .story-arrow img,
  .stories-wrapper .story-arrow img {
    width: 14px;
  }

  .stories-wrapper .stories--arrow {
    gap: 5px;
    padding-right: 0px;
  }

  .stories-wrapper .common--section {
    margin-bottom: 0;
  }

  .stories-wrapper .story-card blockquote {
    display: block;
    text-align: left;
    font-style: normal;
    padding: 0;
    font-size: 13px;
  }

  .stories-wrapper .story-card > .story--item {
    padding: 7px;
    background: #fff2e8;
    border: 1px solid #ffe5d1;
  }

  .stories-wrapper .story-card .name {
    margin-bottom: 0px;
    font-size: 16px;
  }

  .stories-wrapper .story-card video,
  .stories-wrapper .story-card .video-play-btn {
    pointer-events: auto;
  }

  .stories-wrapper .story-card .slick-center video,
  .stories-wrapper .story-card .slick-center .video-play-btn,
  .stories-wrapper .story-card .slick-active video,
  .stories-wrapper .story-card .slick-active .video-play-btn {
    pointer-events: auto;
  }
}

@media(max-width:1023px){
  .stories-wrapper .story-card video, .stories-wrapper .story-card img{
    filter: none;
  }
  .stories-wrapper .slick-slide{
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .hero-glass-card {
    position: relative;
    right: 0;
    margin-top: 9px;
    max-width: 188px;
    background-size: 180px 125px;
  }

  .hero-carousel .hero-carousel-item .hero-carousel-item-content p {
    font-size: 16px;
  }

  .hero-glass-card-content {
    padding: 10px;
    height: calc(100% - 51px);
    width: calc(100% - 13px);
    margin-top: 23px;
  }

  .custom-btn img {
    width: 30px;
  }

  .hero-glass-card-content p {
    font-size: 13px;
    padding-right: 10px;
  }

  .hero-glass-icon {
    width: 30px;
    height: 31px;
    top: 38px;
    right: 17px;
  }

  .hero-glass-icon img {
    transform: scale(1);
  }

  .hero-carousel .hero-carousel-item {
    padding-top: 100px;
    min-height: auto;
    padding-bottom: 100px;
  }

  .hero-carousel .hero-carousel-item {
    padding-top: 60px;
    min-height: auto;
    padding-bottom: 100px;
  }

  .hero-carousel:after {
    width: calc(100% - 50px);
    clip-path: polygon(9% 50%, 100% 47%, 100% 100%, 0% 100%);
  }

  .hero-carousel .slick-dots {
    bottom: 55px;
  }

  .count--list {
    flex-direction: column;
  }

  .product--brands--section .product-slider > button.slick-prev {
    left: 0;
  }

  .product--brands--section .product-slider > button.slick-next {
    right: 3%;
  }

  .about-img-list div:nth-child(1) > .clip--img {
    margin: 0 auto;
    max-width: 150px;
    height: 150px;
  }

  .about-img-area {
    padding-left: 0;
    padding-top: 30px;
    max-width: 400px;
        margin: 0 auto;
  }

  .about-img-list div:nth-child(1) {
    margin: 0 auto;
  }

  .about-img-list div:nth-child(2) > .clip--img {
    height: 150px;
  }

  .about-img-list div:nth-child(3) > .clip--img > img {
    height: 206px;
  }

  .outline--comman {
    width: 82%;
    height: 298px;
    max-width: none;
    top: 54%;
  }

  .about--us .sticky--img {
    max-width: 103px;
    top: -10px;
  }

  .product--brands--section:after {
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
    width: calc(100% - 50px);
    height: 30px;
  }

  .product--brands--section {
    padding-top: 80px;
  }

  .product--brands--section .product-slider .slick-list {
    width: 75%;
    margin: 0 auto;
  }

  .product--brands--section .product-slider > .slick-list .product-item {
    font-size: 14px;
  }

  .product--brands--section .product-slider > button.slick-prev:before,
  .product--brands--section .product-slider > button.slick-next:before {
    width: 30px;
    height: 30px;
    background-size: 7px;
  }
  .product--brands--section .brand-slider .brand-item > a {
    font-size: 12px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
  }

  .stories-wrapper .slick-slide {
    opacity: 1;
  }

  .count--list > .count--item:nth-child(1) {
    border-right: 2px solid var(--primary);
    border-bottom: 0;
  }

  .count--list > .count--item:nth-child(2) {
    border-right: 2px solid var(--primary);
    border-bottom: 0;
  }

  .count--list > .count--item:nth-child(1):before {
    left: -3px;
    top: -3px;
    border-width: 26px;
  }

  .count--list > .count--item:nth-child(1):after {
    right: 0;
    bottom: 0;
  }

  .count--list > .count--item:nth-child(3):before {
    right: -3px;
    bottom: -3px;
    border-width: 26px;
  }

  .count--list > .count--item > p{
    max-width: 70%;
  }

  .innovation--section {
    padding-top: 0px;
  }

  .innovation--video > .play-btn > span {
    width: 48px;
  }

  .innovation--video > .play-btn > span > img {
    width: 23px;
  }

  .innovation--video > .play-btn > span:before {
    width: 60px;
  }

  .innovation--video > .play-btn > span:after {
    width: 69px;
  }

  .news-marquee .news-track .news--list {
    width: 100%;
  }
  .news-marquee
    .news-track
    > .news--list
    > .slick-list
    > .slick-track
    > .news--item
    > .news--thum {
    width: 100%;
    height: 266px;
    object-fit: cover;
    object-position: top;
    clip-path: polygon(0% 0%, 100% 0, 100% 80%, 82% 100%, 0% 100%);
            object-position: center;
  }

  .news-marquee
    .news-track
    > .news--list
    > .slick-list
    > .slick-track
    > .news--item {
    padding: 15px;
  }

  .news-marquee
    .news-track
    > .news--list
    > .slick-list
    > .slick-track
    > .news--item
    > .news-content {
    padding: 15px 0px;
  }

  .news--arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .news--arrow > .news-arrow {
    width: 32px;
    border: 1px solid var(--primary);
    aspect-ratio: 1 / 1;
    background: var(--white) !important;
    border-radius: 50%;
    transition: 0.3s;
  }

  .news--arrow > .news-arrow > img {
    width: 14px;
  }

  .news--arrow > .news-arrow:hover {
    background: var(--primary) !important;
  }

  .news--arrow > .news-arrow:hover img {
    filter: brightness(0) invert(1);
  }

  .news-marquee
    .news-track
    > .news--list
    > .slick-list
    > .slick-track
    > .news--item
    > .news-content
    > .news--heading {
      margin-bottom: 5px;
      font-size: 22px;
  }

  /* .news-marquee
    .news-track
    > .news--list
    > .slick-list
    > .slick-track
    > .news--item
    > .news-content {
    display: flex;
    flex-direction: column;
  } */

  .news-marquee
    .news-track
    > .news--list
    > .slick-list
    > .slick-track
    > .news--item
    > .news-content
    > .news--publish {
    order: 1;
    margin-bottom: 5px;
  }

  .news-marquee
    .news-track
    > .news--list
    > .slick-list
    > .slick-track
    > .news--item
    > .news-content
    > .custom-btn {
    order: 3;
  }

  .blog--section .blog-carousel {
    display: block;
    margin-bottom: 0;
  }
  .blog--section .blog-carousel .blog-carousel-item {
    clip-path: polygon(0% 0%, 100% 0, 100% 84%, 92% 100%, 0% 100%) !important;
  }

  .blog--section .blog-carousel .blog-carousel-item > .blog-thum {
    height: 210px;
  }
  .blog-carousel .slick-dots {
    position: relative;
    bottom: 0;
    padding-top: 15px;
}

.blog-carousel .slick-dots > li {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background: #eaeaea;
}

.blog-carousel .slick-dots li.slick-active {
    background: var(--secondary);
}

.blog-carousel .slick-dots > li > button {
    display: none;
}

.contact--us--section .about--contact {font-size: 18px;}

.contact--us--section .contact--info > ul > li > span, .contact--us--section .contact--info > ul > li > a {
    font-size: 16px;
}

.contact--us--section .contact--info > ul > li {gap: 10px;}

.contact--us--section .contact--info > ul > li > span > img {
    width: 30px;
}

.contact--us--section {
    background-position: top;
    padding-bottom: 80px;
}

.contact--us--section:after {
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
    width: calc(100% - 50px);
    height: 30px;
}

.home--contact {
    padding-top: 50px;
    margin: 0 auto;
}
.discover-carousel .discover-carousel-item .discover-thum > img {
    height: 260px;
}
}

@media(max-width:768px){
  .discover-carousel .slick-arrow{
    display: none !important;
  }
}