*{margin: 0;padding: 0;}

:root{
    --black:#000;
    --white:#fff;
    --btncirclebg:#FFFFFF4D;
    --primary:#FF6F00;
    --secondary:#274EA8;
    --stickyproduct:#0096C7;
    --stickymail:#80B918;
}

body{
    font-family: "Heebo", sans-serif;
}
.main--div {
    overflow: hidden;
}
/* custom */
.text--sticky--product{
    color: var(--stickyproduct);
}
.text--sticky--mail{
    color: var(--stickymail);
}
.text--black{
    color: var(--black);
}
.text--red{
    color: red;
}
.text--white{
    color: var(--white);
}
.text--primary{
    color: var(--primary);
}
.text--secondary{
    color: var(--secondary);
}
.px-50 {
    padding-right: 50px;
    padding-left: 50px;
}

.common-head {
    border-left: 3px solid var(--primary);
    padding-left: 20px;
}

.light-head {
    color: var(--white);
}

.common-head span {
    font-size: clamp(20px,2vw,35px);
    line-height: 1;
        display: block;
}

.common-head h2 {
    font-size: clamp(32px,3vw,60px);
    /* text-transform: uppercase; */
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1;
}

.article--heading {
    font-size: clamp(20px,2vw,28px);
}

.appearance-block{
    appearance: auto;
    -webkit-appearance: auto;
}

.top-common-head {
    position: relative;
    border-left: 3px solid var(--primary);
    padding-left: 20px;
}

.top-common-head h1 {
    font-size: clamp(24px,3vw,41px);
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1;
}

.inner--banner .top-common-head > span {
    font-size: 18px;
    font-weight: 300;
}

.center--heading {
    text-align: center;
}

.center--heading span {
    font-size: clamp(18px,2vw,32px);
    line-height: normal;
    display: block;
    font-weight: 300;
}

.center--heading h2 {
    font-size: clamp(24px,3vw,41px);
    /* text-transform: uppercase; */
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1;
}


.custom-btn {
    display: flex;
    background: var(--primary);
    color: #fff;
    text-decoration: none;
    align-items: center;
    border-radius: 50px;
    padding: 6px 6px 8px 18px;
    gap: 20px;
    width: fit-content;
        position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.custom-btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--white);
    left: 0;
    top: 0;
    transform: translateX(-100%);
    transition: 0.3s;
    border: 2px solid var(--primary);
    border-radius: 50px;
}

.custom-btn > span, .custom-btn > img {
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.custom-btn:hover:before {transform: translateX(0);}

.custom-btn:hover span {
    color: var(--black);
}

.custom-btn:hover img {
    background: var(--primary);
}

.custom-btn > img {
    border-radius: 50px;
    background: rgb(255 255 255 / 30%);
}

.common--section span {
    font-size: clamp(18px,2vw,32px);
    line-height: 1;
    margin-bottom: 7px;
    display: block;
}

.common--section h2 {
    font-size: clamp(24px,3vw,41px);
    line-height: 1;
}
.common--section {
    margin-bottom: 15px;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}
.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.pt-50 {
    padding-top: 50px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-50 {
    padding-bottom: 50px;
}
.pb-30 {
    padding-bottom: 30px;
}

.pl-20{
	padding-left: 23px;
}

.inner--banner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-bottom: 190px;
    padding-top: 120px;
}

.inner--banner .common-head {
    position: relative;
}

.inner--banner:before {
    content: '';
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 62.11%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.inner--banner:after {
    content: '';
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
    height: 78px;
    width: calc(100% - 300px);
    display: block;
    background: var(--white);
    position: absolute;
    bottom: -1px;
    right: 0;
}

.inner--banner .common-head > span {
    font-size: 18px;
    font-weight: 300;
}

/*  */

/* media quries */
@media(max-width:991px){
    p {
    font-size: 14px;
}

.common--section {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 0px;
}
.pb-50 {
    padding-bottom: 20px;
}

.pt-100{
    padding-top: 50px;
}

.py-50{
    padding-bottom: 20px;
    padding-top: 20px;
}

.pt-50 {
    padding-top: 20px;
}
.py-100 {
    padding-top: 50px;
    padding-bottom: 50px;
}
    .custom-btn {
    padding: 4px 4px 4px 10px;
        gap: 10px;
        font-size: 14px;
}
.custom-btn img {
    width: 30px;
}
.inner--banner .common-head > span {
    font-size: 15px;
    font-weight: 300;
}
.inner--banner:after {
    clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
    width: calc(100% - 50px);
    height: 30px;
}
.inner--banner {
    padding-bottom: 65px;
}
.custom-btn:before {
    border: 1.5px solid var(--primary);
}
}